{{ define "main" }}

{{ $bro := string .Path }}
{{ if strings.Contains $bro "notes" }}
    <h1>notes I took studying</h1>
{{ else if strings.Contains $bro "journal" }}
    <h1>daily learning</h1>
{{ else }}
<h1>organized thoughts in writing</h1>
{{ end }}

<ul class="posts">
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<a href="{{ .RelPermalink }}">{{.Title}}</a></li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}
